<div class="container">
  <div class="add-form-container">
    <form [formGroup]="group" id="addForm" (ngSubmit)="save()">
      <div class="form-group">
        <label for="contactName">name</label>
        <input
          id="contactName"
          type="text"
          placeholder="name"
          class="form-control"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input
          id="email"
          type="email"
          placeholder="email"
          class="form-control"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="mobile">mobile</label>
        <input
          id="mobile"
          type="text"
          placeholder="mobile"
          class="form-control"
          formControlName="mobile"
          maxlength="10"
        />
      </div>
      <input id="add" class="btn btn-primary" type="submit" value="submit" />
    </form>
  </div>

  <table
    class="table table-bordered mt-3"
    cdk-table
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
  >
    <ng-container cdkColumnDef="cmd">
      <th cdk-header-cell *cdkHeaderCellDef></th>
      <td cdk-cell *cdkCellDef="let row" class="d-flex flex-row justify-content-around">
        <button *ngIf="!row.updateMode" (click)="changeMode(row)" class="btn btn-outline-primary">
          編輯
        </button>
        <button *ngIf="row.updateMode" (click)="update(row)" class="btn btn-outline-primary">
          儲存
        </button>
        <button *ngIf="row.updateMode" (click)="cancel(row)" class="btn btn-outline-primary">
          取消
        </button>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Name</th>
      <td cdk-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.updateMode; else name">
          <div class="form-group">
            <input type="text" placeholder="name" class="form-control" [(ngModel)]="row.name" />
          </div>
        </ng-container>
        <ng-template #name>
          {{ row.name }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
      <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Email</th>
      <td cdk-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.updateMode; else email">
          <div class="form-group">
            <input type="text" placeholder="email" class="form-control" [(ngModel)]="row.email" />
          </div>
        </ng-container>
        <ng-template #email>
          {{ row.email }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Mobil Column -->
    <ng-container cdkColumnDef="mobile">
      <th cdk-header-cell *cdkHeaderCellDef mat-sort-header>Mobile</th>
      <td cdk-cell *cdkCellDef="let row">
        <ng-container *ngIf="row.updateMode; else mobile">
          <div class="form-group">
            <input type="text" placeholder="mobile" class="form-control" [(ngModel)]="row.mobile" />
          </div>
        </ng-container>
        <ng-template #mobile>
          {{ row.mobile }}
        </ng-template>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ngx-loading [show]="loading"></ngx-loading>
